body{
    text-align: center;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    margin: 30px;
}
.options button{
    margin-bottom: 10px;
}
.max-width{
    max-width: 300px;
}

.input{
    margin: 10px auto;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item{
    cursor: pointer;
}
.page-item:not(:last-child){
    margin-right: 10px;
}
header{
    padding: 20px 0;
    margin: 0 auto;
}
.nav{
    margin: 0 auto;
}
.nav-link{
    margin: 0 10px;
}