body{
    text-align: center;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    margin: 30px;
}
.options button{
    margin-bottom: 10px;
}
.max-width{
    max-width: 300px;
}